<button {{ on "click" this.reverse }}>Reverse</button>
<div class="flex-grid-thirds" id="grid" {{ did-insert this.makeDraggable}}>
  {{#each @model as |beer| }}
    <BeerList::Beer @beer={{beer}} draggable="true" {{on "dragend" this.saveState}}/>
  {{/each}}
</div>