<div class="px-2">
  <div class="flex -mx-2">
    <div class="w-1/2 px-2">
      {{old-component
          image="https://images.pexels.com/photos/1089931/pexels-photo-1089931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          title="Can beer make you a better developer?"
          class="max-w-sm w-full lg:max-w-full lg:flex"
      }}
    </div>
    <div class="w-1/2 px-2">
      <GlimmerComponent 
        @image="https://images.pexels.com/photos/1089931/pexels-photo-1089931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        class="max-w-sm w-full lg:max-w-full lg:flex"
        @title="Can beer make you a better developer?"
        />
    </div>
  </div>
</div>